<div class="container">
  <div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal mb-4">Selemat datang {{nama}}</h1>
        <a href="/logout" class="btn btn-primary">Logout</a>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>